# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env
.env.*

# Logs y temporales
*.log
*.tmp
*.temp

# Cachés y testing
.pytest_cache/
.mypy_cache/

# Bases de datos locales
*.sqlite3
*.db

# IDEs / editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Respaldos
*.bak
*.bak_*
tmp/pdfs/node_modules/.pnpm/@oai+artifact-tool@file+loc_2aa87dd61e4be88f8642749659ef3613/node_modules/@oai/artifact-tool/node_modules/@oai/walnut/wasm/System.Runtime.InteropServices.JavaScript.ptvo7oirfc.wasm
